:root {
--gradient: linear-gradient(135deg, rgb(1, 30, 1), rgb(7, 196, 7));

}
@font-face {
    font-family: Kumbh;
    src: url(./KumbhSans-Regular.ttf);
  }

  
  * {
    margin: 0;
    padding: 0;
    font-family: Kumbh;
  }
  
  .flex { 
    display: flex;
    justify-content: center;
  }
  h1 {
    color: white;
  }
  body {
    overflow-y: hidden;
    overflow-x: hidden;
  }
  .active {
    overflow-y: scroll;

  }
  
  .lockScreen {
    position: absolute;
    top: 0;
    width: 100%;
    height:100vh;
    z-index: 1;
    background-color: rgb(0, 0, 0);
    transition:all 2s 0.3s
  }
  .unlocked {
    top:-1000px
  }
  
  .container {
    position: relative;
    min-height: 100vh;
    background:var(--gradient);
    padding: 4% 0 0 4%;
  }
  
  .container > button {
    background: linear-gradient(135deg, green, rgb(1, 30, 1));
    color: #fff;
    font-size: 16px;
    outline: 0;
    border: 0;
    border-radius: 40px;
    padding: 15px 25px;
    margin: 30px 0 20px;
    cursor: pointer;
  }

  .notes-container {
    display: grid;
    grid-template: 1fr 1fr / 400px 400px 400px;
    margin-bottom: 40px;
  }
  .input-box {
    position: relative;
    width: 100%;
    max-width: 300px;
    min-height: 150px;
    background-color: #fff;
    color: #333;
    padding: 20px;
    margin: 20px 0;
    outline: none;
    border-radius: 5px;
  }
  
  .input-box .delete {
    position: absolute;
    right: 5px;
    width: 15px;
    top: 5px;
    outline: 0;
    border: 0;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  h2 {
    margin-top: 10px;
  }

  .textHere {
    margin-bottom: 20px;
  }

  .input-box .date {
    position: absolute;
    right: 75px;
    font-size: 15px;
    width: 20px;
    bottom: 15px;
    font-style: italic;
  }

  .text {
    border: 0;
    outline: 0;
  }

  .developer {
    text-align: center;
    color: #fff;
    position: absolute;
    bottom: 10px;
    left:42%;
  }

  @media (max-width:1100px) {
    .notes-container {
        display: grid;
        grid-template: 1fr 1fr / 400px 400px ;
      }
  }
  @media (max-width:750px) {
    .notes-container {
        display: grid;
        grid-template: 1fr 1fr / 400px ;
        margin-left: 40px;
      }
  }
